
body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #d1d1d3;
}
.header {
    background-color: #e0bce8;
    color: #030303;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}
#logo {
    width: 35px;
    height: 35px;
}

.main-layout {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    gap: 20px;
}
.filters {
    display: flex ;
    gap: 1rem;
}

#genres {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

#sort-by {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

.podcast-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.podcast-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.podcast-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 10px;
    width: 18rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    left: 20%;
    width: 100%;
    height: 100%;
    align-items: center;
    border: none;
    background: none;
}

.modal::backdrop {
    background-color: rgba(7, 7, 7, 0.247);
}

.modal-section {
    max-width: 50rem;
    width: 60%;
    height: 90%;
    background-color: rgb(179, 178, 178);
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 0;
}
.modal-title {
    font-size: 1.2rem;
    margin: 0;
}

.close-modal {
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    overflow-y: auto;
}

.modal-podcast-image {
    max-width: 16rem;
    max-height: 16rem;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: violet;
}

.podcast-desc {
    height: 10rem;
}

.modal-podcast-description {
    margin-top: 0;
}

.podcast-genres {
    margin-top: 1rem;
    display: inline-block;
    background-color: #c4bafa;
    color: #030303;
    padding: 0.3rem 0.6rem;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.genre {
    display: inline-block;
    background-color: #c4bafa;
    color: #030303;
    padding: 5px 10px;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}