/****** Global Styles ******/
body {
    font-family: Arial, sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #ababb0;
}
.header {
    background-color: #7b797c;
    color: #030303;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.2rem;
}

.logo-title {
    display: flex;
    align-items: center;
    gap: 10px;
}
.search-profile {
    display: flex;
    align-items: center;
    gap: 15px;
}
#logo {
    width: 35px;
    height: 35px;
}

.main-layout {
    display: flex;
    flex-direction: column;
    padding: 1.2rem;
    gap: 20px;
}
.filters {
    display: flex ;
    gap: 1rem;
}

/****** Podcast Card Style ******/
#genres {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

#sort-by {
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
}

.podcast-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.podcast-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.podcast-card {
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 0.8rem;
    width: 18rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

/****** Modal Styles ******/
.modal {
    position: fixed;
    top: 0;
    left: 10%;
    width: 100%;
    height: 100%;
    align-items: center;
    border: none;
    background: none;
}

.modal::backdrop {
    background-color: rgba(7, 7, 7, 0.247);
}

.modal-section {
    max-width: 65rem;
    width: 80%;
    background-color: rgb(249, 246, 246);
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 0;
}
.modal-title {
    font-size: 1.7rem;
    margin: 0;
}

.close-modal {
    font-size: 1.5rem;
    cursor: pointer;
}

.modal-content {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    overflow-y: auto;
}

.modal-podcast-image {
    max-width: 25rem;
    max-height: 25rem;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background-color: rgba(130, 129, 130, 0.731);
}



.modal-podcast-description {
    margin-top: 0;
}

.podcast-genres {
    margin-top: 1rem;
    display: inline-block;
    background-color: #a9a9ac;
    color: #f8f6f6;
    padding: 0.3rem 0.6rem;
    border-radius: 15px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.genre {
    display: inline-block;
    background-color: #b6b5b9;
    color: #504f51;
    font-size: 0.7rem;
    padding: 0.4rem 0.5rem;
    border-radius: 1rem;
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
}

/******* Seasons List *******/
.seasons-info {
    padding: 0 1rem 1rem 1rem ;
}
.seasons-list {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    
    overflow-y: auto;
}

.season-item {
    background-color: #aaa8b6b3;
    height: 2rem;
    color: #3f3d3d;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
}
.season-item p {
    margin: 0;
}
/****** Responsive Styles ******/

/****** Tablet ********/
@media screen and (max-width: 1025px) {
    .podcast-card{
        width: 45%;
    }
    .modal {
        left: 5%;
    }
    .modal-section {
       
        width: 90%;
    }
    .modal-content {
        flex-direction: column;
        align-items: center;
    }
}


/******** Mobile ********/
@media screen and (max-width: 576px) {
    .podcast-card{
        width: 100%;
    }
    .modal {
        left: 0;
    }
    .modal-section {
        width: 100%;
    }

    .modal-title {
        font-size: 1.5rem;
    }
    .modal-content {
        flex-direction: column;
        align-items: center;
    }
    .modal-podcast-image {
        max-width: 100%;
        max-height: auto;
    }


}